{% extends "layout.html" %}

{% block content %}
<h2>{{ time }}</h2>
<h3>Source of Truth</h3>
<div class='card {{ source_of_truth["ui_background"] }}'>
  <div class='card-body'>
    <div class='card-text'>
      <div>URL: {{ source_of_truth["url"] }}</div>
      <div>Connected: {{ source_of_truth["connected"] }}</div>
      <div>Chain ID: {{ source_of_truth["chain_id"] }}</div>
      <div>Latest Block: {{ source_of_truth["latest_block"] }}</div>
      <div>Timestamp: {{ source_of_truth["time_stamp"] }}</div>
    </div>
  </div>
</div>
<h3>Stakers</h3>
  {% for staker in stakers %}
  <div class='card {{ staker["ui_background"] }}'>
    <div class='card-body'>
      <div class='card-text'>
        <div>Nickname: {{ staker["nickname"] }}</div>
        <div>URL: {{ staker["url"] }}</div>
        <div>Connected: {{  'True' if staker["connected"] else 'False' }}</div>
        <div>Chain ID: {{ staker["chain_id"] }}</div>
        <div>Latest Block: {{ staker["latest_block"] }}</div>
        <div>Timestamp: {{ staker["time_stamp"] }}</div>
        <div>Blocks Out of Sync: {{ staker["blocks_out_of_sync"] }}</div>
        <div>Time Out Of Sync: {{ staker["time_out_of_sync"] }}</div>
        <div>Last Time In-Sync: {{ staker["last_time_in_sync"] }}</div>
      </div>
    </div>
  </div>
  {% endfor %}

{% endblock%}